p {
    display:flex;
    justify-content: center;
    color: rgb(214, 214, 214);
    font-size: 32px;
    margin-right: 180px;
    margin-left: 340px;
    margin-top: 1em;
    flex-wrap: wrap;
}

h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 180px;
    margin-bottom: 0;
    color: rgb(214, 214, 214);
    font-size: 82px;
}