@media (prefers-color-scheme: dark) {
    .section-top span{
        color: rgb(214, 214, 214);
    }
    body {
        background-color: #000;
    }
    h1 {
        color: rgb(214, 214, 214);
    }
    h2 {
        color: rgb(214, 214, 214);
    }
    p {
        color: rgb(214, 214, 214);
    }
}

body {
    margin: 0;
    font-family: "Oswald", sans-serif;
}

body {
    margin: 0;
    font-family: "Oswald", sans-serif;
}


header a {
    text-decoration: none;
    font-weight: bold;
    font-size: 23px;
    color: rgb(214, 214, 214);
    margin-left: 1em;
}

header a:hover {
    color: rgba(100, 149, 237, 0.66);
}

.header {
    margin-top: 59px;
    margin-bottom: 32px;
    display: flex;
    justify-content: left;
    align-items: center;
}

body {
    background-image: url("img/background.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
}

h1 {
    padding-top: 125px;
    font-size: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.section-top {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px;
}

.section-top span{
    margin-top: 8px;
    font-size: 50px;
}

h2 {
    display: flex;
    justify-content: flex-end;
    margin-right: 6em;
    font-size: 50px;
}

.section-bottom {
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 8px;
}

.section-bottom img{
    border: 3px solid rgb(214, 214, 214);
    border-radius: 50%;
    aspect-ratio: 1;
    height: 130px;
}

@media (max-width: 991px) {

    h1 {
        font-size: 60px;
    }

    span {
        text-align: center;
        font-size: 40px;
    }

    h2 {
        font-size: 40px;
        margin-right: 2em;
    }

    .section-bottom img {
        margin: 0 auto;
    }

    .section-bottom {
        text-align: center;
    }

}


@media (max-width: 767px) {

    h1 {
        font-size: 40px;
    }

    span{
        font-size: 30px;
    }

    h2 {
        font-size: 30px;
    }

    .section-bottom img {
        margin-left: 2em;
    }
}




